.show-block
  max-width: 78%
  border: 8px solid $my-main-color
  border-radius: 8%
  padding: 1em
  margin: 0.5em 0



  span.show-block-header
    display: block
    font-size: 1.3em
    border-bottom: 1px solid $my-main-color
    width: 100%

  .assotiations
    border-bottom: 1px solid $my-main-color
